//IMPORT BOOTSTRAP

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// CUSTOM CSS RULES

// Hero section

@media (min-width: 768px){
	.hero-wrapper {
		max-width: 70%;

}
}

@media (min-width: 1200px){
	.hero-wrapper {
		max-width: 50%;

}
}


// Background images styles
.zero-swaps .zero-swaps__img {
  max-width: 120%;
  z-index: -1;
  position: absolute;
  top: 0;
  right: -20%;
  opacity: 0.7;
}

.zero-swaps .zero-swaps__img--md {
	max-width: 919px;
	opacity: 0.3;
	left: -54px;
}
.zero-swaps .zero-swaps__img--xl {
	max-width: 1400px;
	left: -50px;
}
.zero-swaps .zero-swaps__img--vector {
	max-width: 100%;
	top: 600px;
	
}

@media (min-width: 1280px) {
.zero-swaps .zero-swaps__img--xl {
	max-width: 100%;
	right:0;
}
}



// Crypto section styles
.cryptos .cryptos_wrapper {
	border: 0.871376px solid rgba(167, 167, 167, 0.2);
	border-radius: 13.0706px;
	background: rgba(140, 140, 140, 0.1);
}

.cryptos .cryptos__img {

	max-width: 35px;	
}

.cryptos .cryptos__name {
	font-size: 8px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	background: #FFF8D6;
	border-radius: 3.5px;
}

.cryptos .cryptos__price {
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;

}

// Why trade section styles

#why_trade hr {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 70px;
	border-color: #29A643;
	border-top: 2px solid #29A643;

}
#why_trade .row hr {
	margin-left: 1rem;
	width: 50px;

}

#why_trade {

	background: url(../images/gold.png) -205px top no-repeat;
}

@media (min-width:768px){
#why_trade .row hr {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

}

.trade-card .trade-card__img {
	max-width: 85px;
}
.trade-card .trade-card__heading {
	max-width: 175px;
}
.trade-card .trade-card__usp {
	max-width: 305px;
}
}

@media (min-width: 1200px) {

	.trade-card  {
	border: 10px solid transparent;
}

	.trade-card .trade-card__img {
	max-width: 70px;
}
	.trade-card	.trade-card__img--percent {
	max-width: 90px;
	}
	.trade-card	.trade-card__img--fast {
	max-width: 205px;
	transform: translateX(-80px);
	}

.trade-card .trade-card__heading {
	max-width: 225px;
}
.trade-card .trade-card__usp {
	max-width: 225px;
}

}


//  Form styles

.register .register__item {
	max-width: 260px;
}

.register .register__item--clock, .register .register__item--calen {
	border-bottom: 1px solid #fff;
}

li {
	font-size: 10px;
	color:#888888;
}

#login-form button {
	width: 95%;
}


#success-message {

	background: #f3fef4;
	color: #3C763D;
}

.success-message .success-message__heading {
	font-size: 18px;
	font-weight: 500;
}

@media (min-width: 768px) {

li {
	font-size: 14px;
}

.register .register__item {
	border: 1px solid #fff;
}

.register .register__item--calen {
	border-left: 0;
}

.register .register__item--map {
	border-right: 0;
}

.success-message .success-message__heading {
	font-size: 24px;
	}

}

@media (min-width: 1200px) {
	#login-form button {
	max-width: 345px;
}
}



// Slider box 
.box {
	min-height: 100px;
	min-width: 100px;
}

@media (min-width: 768px) {
.box {
	min-height: 130px;
	min-width: 130px;
}

}
@media (min-width: 1200px) {
.box {
	min-height: 160px;
	min-width: 160px;
}

}
